.jobs-list {
  color: black;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 20px;
}
.jobs-list .job-card {
  color: black;
  text-decoration: none;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
  padding: 5px 10px;
}
.job-card .top-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.job-card .bottom-div {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.job-card .top-div span {
  display: flex;
  align-items: center;
}
.job-card .top-div img {
  height: 3em;
  width: 3em;
  border-radius: 50%;
  object-fit: cover;
}
