.navbar {
  width: 100%;
  padding: 30px 20px;
  box-sizing: border-box;
  margin-bottom: 80px;
  background: #28b886;
  display: flex;
  justify-content: space-between;
}
.navbar ul {
  display: flex;
  margin: 0 auto;
  align-items: center;
  justify-content: flex-end;
}
.navbar .logo {
  font-weight: bold;
  color: var(--heading-color);
  letter-spacing: 1px;
  display: flex;
  align-items: center;
  margin-right: auto;
}
.navbar .logo img {
  margin-right: 10px;
  filter: invert(25%);
  width: 36px;
  margin-top: -8px;
}
.navbar a {
  color: #333;
  text-decoration: none;
  margin-right: 20px;
}
.navbar .logout-btn {
  height: 40px;
  width: 80px;
  font-size: 0.9em;
  font-weight: bold;
  border: 1px solid #062948;
  border-radius: 6px;
  background: #28b886;
  color: #333;
  cursor: pointer;
}
