.container .create-form-div {
  padding: 6px 9px;
  background-color: #fff;
  border-radius: 5px;
  max-width: 40%;
  margin: auto;
}
.create-form-div span {
  font-size: 1.2em;
  text-align: start;
}
