.job-page .job-title {
  text-align: start;
  padding-left: 50px;
  margin-bottom: 1em;
}
.job-page .job-section {
  display: grid;
  grid-template-columns: 2fr 2fr;
}
.job-page .job-section .job-info .job-name {
  text-align: center;
}
.job-page .job-section .job-info {
  border: 1px solid #777;
  background-color: #28b886;
}
.job-page .job-section .job-info .job-flex {
  display: flex;
  justify-content: start;
  align-items: start;
  margin-top: 30px;
}
.job-page .job-section .job-info {
  padding: 20px;
}
.job-page .job-section .job-info .job-flex-evenly {
  display: flex;
  justify-content: space-evenly;
}
.job-page .job-section .job-info .job-flex ul {
  display: flex;
  justify-content: flex-end;
}
.job-page .job-section .job-info .job-flex li {
  padding-left: 5px;
}
.job-page .job-section .job-info .job-flex-evenly div {
  display: flex;
  justify-content: space-evenly;
  min-width: 44%;
}
.job-page .job-section .offer-section {
  padding: 10px;
}
.job-page .job-section .offer-section .offer-form label {
  display: flex;
  justify-content: space-between;
}
.job-page .job-section .offer-section .offer-form span {
  width: 25%;
}
.job-page .job-section .offer-section .offer-form .react-select {
  width: 75%;
}
.job-page .job-section .offer-section .offer-card {
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 7px;
}
.job-page .job-section .offer-section .offer-card img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  object-fit: cover;
}
.job-page .job-section .offer-section .accepted {
  background-color: #28b886;
}
.flex {
  display: flex;
  align-items: center;
}
